SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

SITE_URL=https://grand-enrichetta-sagiyqwgey-54c3b5af.koyeb.app

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=neondb
DATABASE_USER=neondb_owner
DATABASE_PASSWORD=npg_HsUwxK7XVch8
DATABASE_HOST=ep-solitary-haze-ahqbhpl4-pooler.c-3.us-east-1.aws.neon.tech
DATABASE_PORT=5432

USE_S3=False
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_REGION_NAME=us-east-1
