Django==5.0.6
djangorestframework==3.16.1
django-cors-headers==4.9.0
python-decouple==3.8
dj-database-url==2.1.0
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
celery==5.3.6
redis==5.0.4
Pillow==10.4.0
django-storages==1.14.2
boto3==1.28.45
APScheduler==3.10.4
openpyxl==3.1.5
reportlab==4.0.7
pandas==2.2.2
numpy>=1.26
gunicorn
requests
